<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Dokter</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Dokter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/dokter/<%= dokter_edit_id._id %>?_method=PUT"
                        method="POST" id="tambah_dokter">
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama dokter</label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_dokter" value="<%= dokter_edit_id.nama_dokter %>" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Jenis Kelamin</label>
                            <div class="col-sm-9">
                                <input type="radio" name="jenis_kelamin" <%=dokter_edit_id.jenis_kelamin=='Laki-laki'
                                    ?'checked':'' %> value="Laki-laki"> Laki-laki
                                <input type="radio" name="jenis_kelamin" value="Perempuan"> Perempuan
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tempat Lahir</label>
                            <div class="col-sm-9">
                                <input type="text" name="tempat_lahir" value="<%= dokter_edit_id.tempat_lahir %>" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tanggal lahir</label>
                            <div class="col-sm-9">
                                <input type="date" name="tanggal_lahir" value="<%= dokter_edit_id.tanggal_lahir %>"
                                    class="form-control">
                                <span class="help-block">Formatnya : Bulan/Tanggal/Tahun, Contoh 05/10/1997</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Agama</label>
                            <div class="col-sm-9">
                                <select name="agama" id="" class="form-control" id="">
                                    <% data_agama.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.nama_agama %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Alamat</label>
                            <div class="col-sm-9">
                                <textarea name="alamat" class="form-control" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">No HP</label>
                            <div class="col-sm-9">
                                <input type="number" name="no_hp" value="<%= dokter_edit_id.no_hp %>" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Status menikah</label>
                            <div class="col-sm-9">
                                <select name="status_menikah" id="" class="form-control" id="">
                                    <% data_status_menikah.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.status_menikah %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Spesialis</label>
                            <div class="col-sm-9">
                                <select name="spesialis" id="" class="form-control" id="">
                                    <% data_spesialis.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.nama_spesialis %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">No izin praktek</label>
                            <div class="col-sm-9">
                                <input type="text" name="no_izin_praktek" value="<%= dokter_edit_id.no_izin_praktek %>"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tarif dokter</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="number" min="10000" name="tarif_dokter" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Gaji pokok</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">Rp</span>
                                    <input type="number" min="1000000" name="gaji_pokok" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Update</button>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>