<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Data Pemeriksaan Laboratorium</h1>
            <br><br>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="help-block">
        <a href="/pemeriksaanlaboratorium/new" class="btn btn-info">Tambah Pemeriksaan Laboratorium baru</a>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pemeriksaan Laboratorium Tables
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body table-responsive">
                    <table width="100%" class="table table-striped table-bordered table-hover js-serial" id="datatable">
                        <thead>
                            <tr>
                                <th>Kode Periksa</th>
                                <th>Nama Periksa</th>
                                <th>Tarif</th>
                                <th width="120px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data_pemeriksaan_laboratorium.forEach(function(hasil){ %>
                            <tr>
                                <td>
                                    <%= hasil.kode_periksa %>
                                </td>
                                <td>
                                    <%= hasil.nama_periksa %>
                                </td>
                                <td>
                                    <%= hasil.tarif %>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/subpemeriksaanlaboratorium/<%= hasil._id %>"><i
                                            class="fa fa-eye"></i></a>
                                    <a class="btn btn-warning btn-sm" href="/pemeriksaanlaboratorium/<%= hasil._id %>/edit"><i
                                            class="fa fa-pencil-square-o"></i></a>
                                    <a class="btn btn-white btn-sm" href="">
                                        <form action="/pemeriksaanlaboratorium/<%= hasil._id %>?_method=DELETE" method="POST"
                                            class="delete-form">
                                            <button class="btn btn-danger btn-sm" onclick="return confirm('Apakah Kamu Yakin Ingin Menghapus Data <%= hasil.nama_periksa %> ?')"><i
                                                    class="fa fa-trash-o"></i></button>
                                        </form>
                                    </a>

                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
<% include ../partials/admin/footer %>