<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Jadwal Praktek Dokter</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Jadwal Praktek Dokter
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/jadwalpraktek/<%= jpd_edit_id._id %>?_method=PUT"
                        method="POST" id="tambah_jpd">
                        <div class="form-group">
                            <label for="" class="col-sm-3">Hari</label>
                            <div class="col-sm-9">
                                <select name="hari" class="form-control">
                                    <option selected value="" disabled>-- Pilih Hari --</option>
                                    <option value="Senin">Senin</option>
                                    <option value="Selasa">Selasa</option>
                                    <option value="Rabu">Rabu</option>
                                    <option value="Kamis">Kamis</option>
                                    <option value="Jumat">Jumat</option>
                                    <option value="Sabtu">Sabtu</option>
                                    <option value="Minggu">Minggu</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Jam mulai</label>
                            <div class="col-sm-9">
                                <input type="time" name="jam_mulai" value="<%= jpd_edit_id.jam_mulai %>" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3">Jam selesai</label>
                            <div class="col-sm-9">
                                <input type="time" name="jam_selesai" value="<%= jpd_edit_id.jam_selesai %>" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-3">Poliklinik</label>
                            <div class="col-sm-9">
                                <select name="poliklinik" id="" class="form-control" id="">
                                    <% data_poliklinik.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.nama_poliklinik %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <input type="submit" class="btn btn-info btn-block">
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>