<!-- <!doctype html>
<html>

<head>
    <title>Klinik Dokter Kita</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>

<body> -->
<% include ../partials/header2 %>

<% if(!currentUser) { %>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3"><br>
        <center>
            <h1>Silakan login terlebih dahulu.</h1>
            <!--If the user is not logged in, direct him to the login page-->
            <h5>Sebelum daftar antrian secara online. Silakan login disini terlebih dahulu. <a href="/login">Klik
                    disini</a></h5>
        </center>
    </div>
</div>
<% } %>
<% if(currentUser) { %>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3"><br>
        <center>
            <h1>Pendaftaran Antrian</h1>
            <p><span style="color:red">
                    *</span> = Wajib diisi</p>
        </center>

        <!-- PENDAFTARAN FORM -->
        <form action="/pendaftaran/daftar" method="post">
            <div class="form-group">
                <label>No Registrasi
                    *</span></label>
                <input type="text" required class="form-control" id="noreg" readonly name="no_registrasi">
            </div>
            <div class="form-group">
                <label for="">No Rawat
                    *</span></label>
                <input type="text" readonly id="no_rawat"
                    onclick="no_rawat.value = tgl_daftar.value +'/'+ no_registrasi.value" name="no_rawat"
                    class="form-control">
            </div>
            <div class="form-group">
                <input type="date" readonly id="date" style="display:none" name="tgl_daftar" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Dokter yang tersedia hari ini<span style="color:red">
                        *</span></label>
                <select name="id_dokter_penanggung_jawab" id="" class="form-control" id="">
                    <% data_jadwal_praktek_dokter.forEach(function(hasil){ %>
                    <% if(hasil.hari === nowmoment) { %>
                    <option value="<%= hasil.nama_dokter._id %>">
                        <%= hasil.nama_dokter.nama_dokter %> - <%= hasil.poliklinik.nama_poliklinik %> - Mulai
                        <%= hasil.jam_mulai %> sampai <%= hasil.jam_selesai %>
                    </option>
                    <% } %>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <input type="text" name="no_rm" style="display:none" value="<%= data_user_sekarang._id %>">
            </div>
            <div class="form-group">
                <label for="">Nama Pasien</label>
                <input type="text" readonly name="nama_pasien" id="nama_pasien"
                    value="<%= data_user_sekarang.local.firstName %> <%= data_user_sekarang.local.lastName %>" required
                    class="form-control">
                <input type="text" name="id_users" style="display:none" id="" value="<%= data_user_sekarang._id %>"
                    required class="form-control">
            </div>
            <div class="col-md-12" style="padding-top:20px">
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-success">
                        Daftar
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<% } %>
<% include ../partials/footer %>
<script type="text/javascript">
    $("#noreg").val("<%= counter %>");
    $("#no_rawat").trigger('click');
</script>
<!-- </body>
        
        </html> -->