<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Pendaftaran</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Pendaftaran
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form"
                        action="/pendaftaran/<%= data_pendaftaran._id %>?_method=PUT" method="POST"
                        id="tambah_pendaftaran">
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Registrasi<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="number" name="no_registrasi" value="<%= data_pendaftaran.no_registrasi %>"
                                    required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Rawat<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="date" id="date" name="no_rawat" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Cara Masuk</label>
                            <div class="col-sm-9">
                                <select name="cara_masuk" id="" class="form-control">
                                    <option value="Rawat jalan">Rawat jalan</option>
                                    <option value="Rawat inap">Rawat inap</option>
                                    <option value="IGD">IGD</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tanggal daftar<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="date" id="date2" name="tgl_daftar" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Dokter penanggung jawab<span style="color:red">
                                    *</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_dokter"
                                    value="<%= data_pendaftaran.id_dokter_penanggung_jawab.nama_dokter %>"
                                    id="cari_dokter_pj" class="form-control">
                                <input type="hidden" value="<%= data_pendaftaran.id_dokter_penanggung_jawab.id %>"
                                    name="id_dokter_penanggung_jawab" id="id_dokter_penanggung_jawab"
                                    class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Update</button>
                            </div>
                        </div>


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Pasien
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body form-horizontal">

                    <div class="form-group">
                        <label for="" class="col-sm-3">No Rekamedis<span style="color:red"> *</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="no_rm" value="<%= data_pendaftaran.id_pasien.no_rm %>"
                                id="cari_no_rm" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3">Nama Pasien <span style="color:red"> *</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="nama_pasien" value="<%= data_pendaftaran.id_pasien.nama_pasien %>"
                                id="nama_pasien" required class="form-control">
                            <input type="hidden" value="<%= data_pendaftaran.id_pasien.id %>" name="id_pasien"
                                id="id_pasien" required class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-3">Tanggal lahir<span style="color:red"> *</span></label>
                        <div class="col-sm-9">
                            <input type="text" name=""
                                value="<%= moment(data_pendaftaran.id_pasien.tanggal_lahir).format('LL') %>"
                                id="tanggal_lahir" class="form-control">
                            <input type="hidden" name="tanggal_lahir"
                                value="<%= data_pendaftaran.id_pasien.tanggal_lahir %>" id="tanggal_lahir"
                                class="form-control">
                            <span class="help-block">Formatnya : Bulan/Tanggal/Tahun, Contoh 05/10/1997</span>
                        </div>
                    </div>

                    </form>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>