<% include ../partials/admin/header %>
<% if(currentUser.local.level === "Dokter"){ %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Laporan Pendaftaran</h1>
            <br><br>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="help-block">
        <a href="/pendaftaran/new" class="btn btn-info">Tambah pendaftaran baru</a>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Data Pendaftaran
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body table-responsive">
                    <table width="100%" class="table table-striped table-bordered table-hover js-serial" id="datatable">
                        <thead>
                            <tr>
                                <th>No Reg</th>
                                <th>No Rawat</th>
                                <th>No RM</th>
                                <th>Nama pasien</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% databaru.forEach(function(hasil){ %>
                            <tr>
                                <td>
                                    <%= hasil.no_registrasi %>
                                </td>
                                <td>
                                    <%= hasil.no_rawat %>
                                </td>
                                <td>
                                    <%= hasil.id_pasien.no_rm %>
                                </td>
                                <td>
                                    <%= hasil.id_pasien.nama_pasien %>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/pendaftaran/<%= hasil._id %>/detail"><i
                                            class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% } else if(currentUser.local.level === "Admin"){ %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Laporan Pendaftaran</h1>
            <br><br>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="help-block">
        <a href="/pendaftaran/new" class="btn btn-info">Tambah pendaftaran baru</a><br><br>
        <form class="form-horizontal" role="form" action="/pendaftaran/hasil_laporan" method="POST">
            <div class="col-lg-12">
                <p>Tanggal awal <input type="date" name="tgl_awal"></p>
                <p>Tanggal akhir <input type="date" name="tgl_akhir"></p>
                <button class="btn btn-sm btn-info">Cetak laporan per tanggal</button>
        </form><br><br>
    </div>




</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Data Pendaftaran
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body table-responsive">

                <table width="100%" class="table table-striped table-bordered table-hover js-serial" id="datatable">
                    <thead>
                        <tr>
                            <th>No Reg</th>
                            <th>No Rawat</th>
                            <th>No RM</th>
                            <th>Nama pasien</th>
                            <th>Dokter</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data_pendaftaran.forEach(function(hasil){ %>
                        <tr>
                            <td>
                                <%= hasil.no_registrasi %>
                            </td>
                            <td>
                                <%= hasil.no_rawat %>
                            </td>
                            <td>
                                <%= hasil.id_pasien.no_rm %>
                            </td>
                            <td>
                                <%= hasil.id_pasien.nama_pasien %>
                            </td>
                            <td>
                                <%= hasil.id_dokter_penanggung_jawab.nama_dokter %>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/pendaftaran/<%= hasil._id %>/detail"><i
                                        class="fa fa-eye"></i></a>
                                <a class="btn btn-warning btn-sm" href="/pendaftaran/<%= hasil._id %>/edit"><i
                                        class="fa fa-pencil-square-o"></i></a>
                                <a class="btn btn-white btn-sm" href="">
                                    <form action="/pendaftaran/<%= hasil._id %>?_method=DELETE" method="POST"
                                        class="delete-form">
                                        <button class="btn btn-danger btn-sm"
                                            onclick="return confirm('Apakah Kamu Yakin Ingin Menghapus Data <%= hasil.no_registrasi %> ?')"><i
                                                class="fa fa-trash-o"></i></button>
                                    </form>
                                </a>

                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>




</div>
<% } %>
<!-- /#page-wrapper -->
<% include ../partials/admin/footer %>