<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <style>
        table,
        td,
        th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            height: 50px;
            text-align: center;
        }

        .break {
            page-break-before: always;
        }
    </style>
</head>

<body>
    <h2 style="text-align:center">LAPORAN PENDAFTARAN</h2>
    <h2 style="text-align:center">KLINIK DOKTER KITA</h2>
    <h3 style="text-align: center">Periode <%= moment(start).format('LL') %> - <%= moment(end).format('LL') %></h3>
    <hr>
    <table>
    </table>
    <br>
    <center>
        <table>
            <tr>
                <th>No Reg</th>
                <th>No Rawat</th>
                <th>No RM</th>
                <th>Nama pasien</th>
                <th>Dokter</th>
            </tr>


            <% cari_data.forEach(function(hasil){ %>
            <tr>
                <td>
                    <%= hasil.no_registrasi %>
                </td>
                <td>
                    <%= hasil.no_rawat %>
                </td>
                <td>
                    <%= hasil.id_pasien.no_rm %>
                </td>
                <td>
                    <%= hasil.id_pasien.nama_pasien %>
                </td>
                <td>
                    <%= hasil.id_dokter_penanggung_jawab.nama_dokter %>
                </td>
            </tr>
            <% }); %>


        </table>

    </center>
    <p style="text-align:right">Bandung, <%= moment().format('DD-MM-YYYY') %></p>
    <p style="text-align:right">Pimpinan Klinik</p>
    <br>
    <br>
    <p style="text-align:right">dr Rikha Fatmawati, Sp. THT-KL</p>
</body>
<script>
    window.print();
    s
</script>

</html>