<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tambah Pendaftaran</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span style="color:red"> *</span> = Kolom wajib diisi
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/pendaftaran/new" method="POST"
                        id="tambah_pendaftaran"
                        oninput="no_rawat.value = tanggal_sekarang.value +'/'+ no_registrasi.value">
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Registrasi<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="number" name="no_registrasi" id="noreg" readonly class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">No Rawat<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="date" hidden id="date" name="tanggal_sekarang" class="form-control">
                                <input type="text" readonly id="no_rawat"
                                    onclick="no_rawat.value = tgl_daftar.value +'/'+ no_registrasi.value"
                                    name="no_rawat" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Tanggal daftar<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="date" id="date2" name="tgl_daftar" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Dokter yang tersedia hari ini<span style="color:red">
                                    *</span></label>
                            <div class="col-sm-9">
                                <select name="id_dokter_penanggung_jawab" id="" class="form-control" id="">
                                    <% data_jadwal_praktek_dokter.forEach(function(hasil){ %>
                                    <% if(hasil.hari === nowmoment) { %>
                                    <option value="<%= hasil.nama_dokter._id %>">
                                        <%= hasil.nama_dokter.nama_dokter %> - <%= hasil.poliklinik.nama_poliklinik %> -
                                        Mulai
                                        <%= hasil.jam_mulai %> sampai <%= hasil.jam_selesai %>
                                    </option>
                                    <% } %>
                                    <% }); %>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="" class="col-sm-3">No Rekamedis<span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="number" name="no_rm" id="cari_no_rm" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama Pasien <span style="color:red"> *</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_pasien" id="nama_pasien" required class="form-control">
                                <input type="text" hidden name="id_pasien" id="id_pasien" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="" class="col-sm-3">Tanggal lahir<span style="color:red"> *</span></label> -->
                            <div class="col-sm-9">
                                <input type="text" hidden name="tanggal_lahir" id="tanggal_lahir" class="form-control">
                                <!-- <span class="help-block">Formatnya : Bulan/Tanggal/Tahun, Contoh 05/10/1997</span> -->
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label for="" class="col-sm-3">Nama penanggung jawab</label>
                            <div class="col-sm-9">
                                <input type="text" name="nama_penanggung_jawab" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Hubungan dengan penanggung jawab</label>
                            <div class="col-sm-9">
                                <select name="hubungan_penanggung_jawab" class="form-control" id="">
                                    <option value="orang_tua">Orang tua</option>
                                    <option value="saudara">Saudara</option>
                                    <option value="teman">Teman</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Alamat penanggung jawab</label>
                            <div class="col-sm-9">
                                <textarea name="alamat_penanggung_jawab" required class="form-control" id="" cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Save</button>
                            </div>
                        </div>


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        </form>


        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>
<script type="text/javascript">
    $("#noreg").val("<%= counter %>");
    $("#no_rawat").trigger('click');
</script>