<% include ../partials/admin/header %>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Tempat Tidur</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Tempat Tidur
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form" action="/tempattidur/<%= tempattidur_edit_id._id %>?_method=PUT"
                        method="POST" id="tambah_ruangan">
                        <div class="form-group">
                            <label for="" class="col-sm-3">Kode Tempat Tidur</label>
                            <div class="col-sm-9">
                                <input type="text" name="kode_tempat_tidur" required class="form-control" value="<%= tempattidur_edit_id.kode_tempat_tidur %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Nama Ruangan</label>
                            <div class="col-sm-9">
                                <select name="kode_ruang_rawat_inap" id="" class="form-control" id="">
                                    <option value="" disabled>
                                        Pilihan sebelumnya :
                                        <%= tempattidur_edit_id.kode_ruang_rawat_inap.nama_ruangan %>
                                    </option>
                                    <% data_ruangan.forEach(function(hasil){ %>
                                    <option value="<%= hasil.id %>">
                                        <%= hasil.nama_ruangan %>
                                    </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3">Status</label>
                            <div class="col-sm-9">
                                <input type="text" name="status" value="<%= tempattidur_edit_id.status %>" required
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button class="btn btn-info btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<% include ../partials/admin/footer %>